* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 5rem;
  text-align: center;
}

button {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  text-transform: uppercase;
  font-size: 1.2rem;
}
button:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.drawer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drawer.hide {
  visibility: hidden;
}

.drawer-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.drawer-content {
  font-size: 1.2rem;
  width: 250px;
  color: white;
  position: fixed;
  min-height: 100%;
  transform: translateX(-300px);
  background-color: #111; /* Black*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: transform 0.5s ease-in-out;
  z-index: 1; /* 0.7 second transition effect to slide in the sidenav */
}

.drawer-content.show {
  transform: none;
}

/* close button */
.close-navbtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

/* The navigation menu links */
.drawer-content a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-transform: capitalize;
}

a:hover {
  color: black;
  background-color: white;
}
